Horizontal#buttons {
  # background: $boost;
  height: 5;
  margin: 1;
  margin-bottom: 0;
  min-width: 50;
  dock: top;
}

Horizontal#statusline {
  height: 1;
}

Label#statuslabel {
  padding-left: 2;
}

Button {
  margin: 1;
}

ServerStatus#status {
  color: red;
}

RichLog#log {
  min-height: 10;
  # background: $boost;
  margin-left: 1;
  margin-right: 1;
  border: solid cyan 70%;
  width: 100%;
}
